<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Challenge Chapter 4</title>
    <link rel="stylesheet" href="css/game.css" />
  </head>
  <body>
    <div class="header">
      <div class="menu-atas">
        <img src="assets-2/_.png" alt="" class="lebih-kecil" />
        <img src="assets-2/logo 1.png" alt="" class="logo-gabung" />
        <h1 class="rock-paper-scissor">ROCK PAPER SCISSORS</h1>
      </div>
    </div>
<div class="app">
    <div class="nama">
        <h1 class="player">PLAYER 1</h1>
        <h1 class="computer">COM</h1> 
    </div>
    <div class="section-batu">
        <div class="bgPlayer batuPlayer">
            <img src="assets-2/batu.png" alt="" class="batunyaPlayer" />
        </div>
        <div class="bgComputer batuComputer">
            <img src="assets-2/batu-com.png" alt="" class="batunyaComputer" />
        </div>
    </div>
    <div class="section-kertas">
        <div class="bgPlayer kertasPlayer">
            <img src="assets-2/kertas.png" alt="" class="kertasnyaPlayer" />
        </div>
        <div class="bgComputer kertasComputer">
            <img src="assets-2/kertas-com.png" alt="" class="kertasnyaComputer" />
        </div>
    </div>
    <div class="section-gunting">
        <div class="bgPlayer guntingPlayer">
            <img src="assets-2/gunting.png" alt="" class="guntingnyaPlayer" />
        </div>
        <div class="bgComputer guntingComputer">
            <img src="assets-2/gunting-com.png" alt="" class="guntingnyaComputer" />
        </div>
    </div>
      <div class="game-control">
        <img src="assets-2/refresh.png" alt="" class="refresh" />
      </div>
      <div class="versus">
          <h1 class="vs">VS</h1>
      </div>
    </div>
</div>
    <script src="javascript/game.js"></script>
  </body>
</html>