<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge - Chapter 5</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container">
      <a href="/register" class="intro">WELCOME!</a>
    </div>
  </body>
</html>
